.widget-container {
  min-width: 320px;
  background-color: white;
  margin: 1.5rem;
  box-shadow: 4px 4px 15px 2px #ccc;

  position: relative;
}

.widget-container:hover .widget-controls {
  opacity: 1;
}

.widget-heading {
  padding: 10px 15px;
  font-size: 16px;
}

.widget-padded {
  padding: 10px 15px;
}

.widget-controls {
  opacity: 0;
  transition-property: opacity;
  transition-duration: 400ms;
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  font-size: 125%;

  .widget-close {
    cursor: pointer;
  }
}


//
.widget-list-item {
  padding: 10px 15px;
  border-top: 1px solid #ccc;
}

// coloured buttons with red, amber, green
.widget-status {
  display: flex;
  flex-direction: row;

  .widget-status-item {
    width: 100%;
    color: white;
    text-align: center;

    a {
      color: white;
    }
  }

  .widget-danger {
    background-color: #bf5329;
  }

  .widget-warning {
    background-color: orange;
  }

  .widget-success {
    background-color: green;
  }

  .widget-ok {
    background-color: darkcyan;
  }
}

.row {
  justify-content: center;
}